body{
    box-sizing: border-box;
    
}

/*  parte inerente al header */
header{
    background-color: rgb(1, 155, 206);
    background-image:url("img/pattern.png");
    height:100%;
    
}

#logo{
    margin-top:5%;
    width: 25%;
}

/* parte inerente alla sezione titolo e info */

.titolo h1{
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 0%;
}

.titolo p{
    margin-top: 0%;
    color: gray;
}

.titolo span{
    color: rgb(17, 140, 255);
}

/* parte inerente alla sezione immagini */

.immagini-descrizione p{
    margin-top: 0%;
}

.paragrafo span{
    background-color: yellow;
}

#lista{
    padding-left: 20px;
}
 /* Parte riguardante la tabella */
.row{
    width: 100%;
    background-color: lightskyblue;  
    
}

.row-left{
    width: 28%;
    display: inline-block;

}

.row-center{
    width: 28%;
    display: inline-block;

}

.row-right{
    width:40%;
    display: inline-block;

}

.one{
    background-color: rgb(5, 141, 252);
    color: rgb(255,255,255);
}

.three{
    background-color: white;
}

footer{
    color: gray;
}


.article{
    margin: auto;
    width: 50%;
}