body{
    box-sizing: border-box;
    
}

/*  parte inerente al header */
header{
    background-color: rgb(1, 155, 206);
    background-image:url("img/pattern.png");
    height:100%;
    
}

#logo{
    margin-top:5%;
    width: 25%;
}

/* parte inerente alla sezione titolo e info */

.titolo h1{
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 0%;
}

.titolo p{
    margin-top: 0%;
    color: gray;
}

.titolo span{
    color: rgb(17, 140, 255);
}

/* parte inerente alla sezione immagini */

.immagini-descrizione p{
    margin-top: 0%;
}

.paragrafo span{
    background-color: yellow;
}

#lista{
    padding-left: 20px;
}
 /* Parte riguardante la tabella */
 table{
     border-spacing: 0ch;
     text-align: left;
 }
 
 .testo-lungo{
     width: 50%;
 }

thead tr{
    background-color: rgb(5, 162, 224);
    color: white;
}

.marker{
    background-color: rgb(64, 224, 208);
}
footer h2{
    font-size: 16px;
    color: gray;
}

.immage{
    width:208px;
    height:160px;
    margin: 10 0;
    padding:10px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.immage h3{
    margin:0px;
}
#img-monitor{
    background-image: url('img/monitor.jpg');
}

#img-graph{
    background-image: url('img/graph.jpg');
}



